[defaults]
host_key_checking = False

[paramiko_connection]
look_for_keys = False
record_host_keys = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
