#jinja2: trim_blocks:True, lstrip_blocks: True
#{{ ansible_managed }}

name: {{ patroni_node_name }}
scope: &scope {{ patroni_scope }}

etcd:
  scope: *scope
  host: {{ etcd_host }}:{{ etcd_port }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008
  authentication:
    username: {{ patroni_rest_username }}
    password: {{ patroni_rest_password }}

bootstrap:
  dcs:
    {% for key, value in patroni_dcs_parameters.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        {% for key, value in patroni_pg_parameters.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
      pg_hba:
      {% for client in patroni_pg_hba %}
      - {{ client.type }} {{ client.database }} {{ client.user }} {{ client.address | default("") }} {{ client.method }}
      {% endfor %}

  initdb:  # Note: It needs to be a list (some options need values, others are switches)
    {% for key, value in patroni_initdb.items() %}
    - {{ key }}: {{ value }}
    {% endfor %}

#  pg_hba:  # Add following lines to pg_hba.conf after running 'initdb'
#    - host replication replicator 0.0.0.0/0 md5
#    - host all all 0.0.0.0/0 md5
#    - local all postgres   peer

postgresql:
  authentication:
    replication:
      username: {{ postgresql_replication_username }}
      password: {{ postgresql_replication_password }}
    superuser:
      username: {{ postgresql_superuser_username }}
      password: {{ postgresql_superuser_password }}
  create_replica_methods:
    {% for method in patroni_pg_create_replica_methods | default('basebackup') %}
    - {{ method }}
    {% endfor %}
  {% for method, options in patroni_pg_create_replica_methods.items() | default('basebackup') %}
  {{ method }}:
    {% for key, value in options.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endfor %}
  listen: {{ patroni_pg_listen }}
  connect_address: {{ patroni_pg_connect_address }}
  data_dir: {{ postgresql_data }}
  bin_dir: {{ postgresql_bin }}
  use_unix_socket:  {{ patroni_pg_use_unix_socket }}
  pg_rewind:
    username: {{ postgresql_superuser_username }}
    password: {{ postgresql_superuser_password }}
  pg_hba:
    {% for client in patroni_pg_hba %}
    - {{ client.type }} {{ client.database }} {{ client.user }} {{ client.address | default(None) }} {{ client.method }}
    {% endfor %}
  parameters:
    {% for key, value in patroni_pg_parameters.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
