#{{ ansible_managed }}

name: {{ patroni_node_name }}
scope: &scope {{ patroni_scope }}

etcd:
  scope: *scope
  host: {{ etcd_host }}:{{ etcd_port }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008
  authentication:
    username: {{ patroni_rest_username }}
    password: {{ patroni_rest_password }}

bootstrap:
  dcs:
    ttl: &ttl 30
    loop_wait: &loop_wait 10
    maximum_lag_on_failover: 1048576 # 1 megabyte in bytes
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        archive_mode: "on"
        wal_level: hot_standby
        archive_command: "{{ patroni_archive_command }}"
        max_wal_senders: 10
        wal_keep_segments: 8
        archive_timeout: 1800s
        max_replication_slots: 5
        hot_standby: "on"
        wal_log_hints: "on"
      pg_hba:
        - host replication replicator 0.0.0.0/0 md5
        - host all all 0.0.0.0/0 md5
        - local all postgres   peer

  initdb:  # Note: It needs to be a list (some options need values, others are switches)
    - encoding: UTF8

#  pg_hba:  # Add following lines to pg_hba.conf after running 'initdb'
#    - host replication replicator 0.0.0.0/0 md5
#    - host all all 0.0.0.0/0 md5
#    - local all postgres   peer

postgresql:
  authentication:
    replication:
      username: {{ postgresql_replication_username }}
      password: {{ postgresql_replication_password }}
    superuser:
      username: postgres
      password: {{ postgresql_superuser_password }}
  listen: 0.0.0.0
  connect_address: {{ ansible_default_ipv4.address }}:5432
  data_dir: {{ postgresql_data }}
  bin_dir: {{ postgresql_bin }}
#  use_unix_socket:  true
  pg_rewind:
    username: postgres
    password: {{ postgresql_superuser_password }}
  pg_hba:
  {% for client in postgresql_pg_hba %}
    - {{ client.type }} {{ client.database }} {{ client.user }} {{ client.address | default(None) }} {{ client.method }}
  {% endfor %}
#  - host all all 0.0.0.0/0 md5
#  - host replication replicator 0.0.0.0/0 md5
#  - local all postgres   peer
  parameters:
    synchronous_commit: "off"
    synchronous_standby_names: "*"
